body {
    background-color: black;
    color: white;

}

.container{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-left: 30%;
    width: 100vw;
}

.input-container {
    margin: 50px;
}
